<div class="main_container">
  <h1 (click)="switchToMain()">
    Account
  </h1>
  <div class="displayedOption1" *ngIf="show1">
    <h4 class="item1">First Name: </h4>
    <input type="text" class="nameInput item2" [(ngModel)]="FirstNameOnServer"><br>
    <h4 class="item3">Last Name: </h4>
    <input type="text" class="nameInput item4" [(ngModel)]="LastNameOnServer"><br>
    <button class="item5">Change Password</button>
    <button class="item6">Forgot Password</button>

  </div>

  <div class="displayOption2" *ngIf="show2">
    <h3 class="do2Title">Addresses</h3>
    <div class="do2AddressList"> <!-- Add loop for displaying multiple addresses -->
      <div>
        <h4>Address 1</h4>
        <p>Address Line 1 <br>
          Address Line 2 <br>
          City, Country <br><br>
          Contact Number - Contact Name<br>
        </p>
      </div>

      <div>
        <h4>Address 2</h4>
        <p>Address Line 1 <br>
          Address Line 2 <br>
          City, Country <br><br>
          Contact Number - Contact Name<br>
        </p>
      </div>
    </div>


  </div>
  <div class="displayOption3" *ngIf="show3">

  </div>

  <div class="main_option" *ngIf="showmain">
    <div class="option1 align" (click)="switchTo1()">
      <h3>Personal</h3>
    </div>

    <div class="option2 align" (click)="switchTo2()">
      <h3>Addresses</h3>
    </div>

    <div class="option3 align" (click)="switchTo3()">
      <h3>Orders</h3>
    </div>
  </div>

</div>
