<div class="spec-card">
  <div class="group-heading"><h4>Essentials</h4></div>
  <div class="specs-container">
    <div class="spec-container">
      <div class="spec-heading">Number of cores</div>
      <div class="spec-value">16</div>
    </div>
    <div class="spec-container">
      <div class="spec-heading">Number of cores</div>
      <div class="spec-value">16</div>
    </div>
    <div class="spec-container">
      <div class="spec-heading">Number of cores</div>
      <div class="spec-value">16</div>
    </div>
    <div class="spec-container">
      <div class="spec-heading">Number of cores</div>
      <div class="spec-value">16</div>
    </div>
    <div class="spec-container">
      <div class="spec-heading">Number of cores</div>
      <div class="spec-value">16</div>
    </div>
    <div class="spec-container">
      <div class="spec-heading">Number of cores</div>
      <div class="spec-value">16</div>
    </div>
    <div class="spec-container">
      <div class="spec-heading">Number of cores</div>
      <div class="spec-value">16</div>
    </div>
    <div class="spec-container">
      <div class="spec-heading">Number of cores</div>
      <div class="spec-value">16</div>
    </div>
    <div class="spec-container">
      <div class="spec-heading">Number of cores</div>
      <div class="spec-value">16</div>
    </div>
    <div class="spec-container">
      <div class="spec-heading">Number of cores</div>
      <div class="spec-value">16</div>
    </div>

  </div>
</div>
