footer {
  display: flex;
  flex-direction: column;
  background: var(--sand-gold);
}

.address_details {
  display: flex;
  margin: 2% auto;
  width: 80%;
}

#map {
  width: 80%;
}

.address_container {
  margin: 2% 0;
  display: flex;
  justify-content: center;
  width: 16%;
  padding: 0 2%;
}

.logo_divider {
}

.footer_logo {
  margin: 1% 0;
  height: 4vw;
  background: url(/assets/images/logo_large.svg) center center no-repeat;
}

.inline_nav {
  text-align: center;
  margin: 1% 0;
}

.inline_nav a:hover {
  text-decoration: underline;
}

.inline_nav_option {
  display: inline-block;
  margin: .5% .25%;
}

.footer_bottom {
  height: 1vw;
  margin: 1% 0;
}

.share_icon_container {
  margin: auto;
  height: 100%;
  width: 10%;
}

.share_icon {
  background: center center no-repeat;
  background-size: contain;
  height: 100%;
  width: 25%;
  filter: invert(1);
  float: left;
}

.share_icon:nth-child(1) {
  background-image: url(/assets/images/icons/social_icons/whatsapp_logo.png);
}

.share_icon:nth-child(2) {
  background-image: url(/assets/images/icons/social_icons/reddit_icon.png);
}

.share_icon:nth-child(3) {
  background-image: url(/assets/images/icons/social_icons/twitter_icon.png);
}

.share_icon:nth-child(4) {
  background-image: url(/assets/images/icons/social_icons/facebook_icon.png);
}

.copyright {
  margin: 0 .5%;
  opacity: .5;
  text-align: right;
}

@media only screen and (max-width: 480px) {
  footer {
    padding: 5% 10%;
  }

  .address_details {
    flex-direction: column;
    width: 100%;
  }

  #map {
    width: 100%;
    height: 20vh;
  }

  .address_container {
    width: auto;
    text-align: center;
    padding: 0;
  }

  .footer_logo {
    height: 7vh;
    margin-bottom: 8%;
  }

  .footer_bottom {
    display: flex;
    flex-direction: column;
    height: 5vw;
    margin: 5% 0 7vh;
  }

  .share_icon_container {
    width: 80%;
    margin-bottom: 5%;
  }

  .copyright {
    text-align: center;
    margin-bottom: 7vh;
  }
}
