<footer>
  <div class="address_details">
    <div id="map"></div>
    <div class="address_container">
      <div>
        <p>Near WTC</p>
        <p>Khalifa Street, Abu Dhabi</p>
        <p><b>UAE</b></p>
        <p>+971 52 998 7374</p>
        <p>sales@iibratan.com</p>
      </div>
    </div>
  </div>
  <div class="logo_divider">
    <div class="footer_logo"></div>
    <div class="inline_nav">
      <a routerLink="/" class="inline_nav_option">Home</a>
      <div class="inline_nav_option">&bull;</div>
      <a routerLink="/about" class="inline_nav_option">About us</a>
      <div class="inline_nav_option">&bull;</div>
      <a routerLink="/terms" class="inline_nav_option">Terms and Conditions</a>
      <div class="inline_nav_option">&bull;</div>
      <a routerLink="/privacy" class="inline_nav_option">Privacy Policy</a>
      <div class="inline_nav_option">&bull;</div>
      <a routerLink="/partners" class="inline_nav_option">Partners</a>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="share_icon_container">
      <div class="share_icon"></div>
      <div class="share_icon"></div>
      <div class="share_icon"></div>
      <div class="share_icon"></div>
    </div>
    <div class="copyright"> <sub>&copy; {{getYear()}} Copyright iibratan | All Rights Reserved </sub></div>
  </div>
</footer>
