<div class="main_container">
  <h1  routerLink="/account">
    Account
  </h1>

  <div class="displayOption3">
    <h3 class="do3Title">Orders</h3>
    <div class="orderWrapper">
      <div class="orderHeading">
        <h3> Order<br>
            #112321</h3>
      </div>
      <div class="products">
        Products
      </div>
      <div class="orderItems">
        <p>
          Item1 --- <br>
          Item2 --- <br>
          Item3 --- <br>
        </p>
      </div>
      <div class="qty">
        Qty.
      </div>
      <div class="qtyItems">
        <p>
          1 <br>
          33 <br>
          0.3 <br>
        </p>
      </div>
      <div class="price">
        Price
      </div>
      <div class="priceItems">
        <p>
          120 <br>
          2232 <br>
          298 <br>
        </p>
      </div>
      <div class="total">
        Total
      </div>
      <div class="totalItem">
        AED 2650
      </div>
      <div class="status">
        Status: unknown
      </div>

    </div>

  </div>


</div>

