  <div class="product-name">
    <h2>Product Name</h2>
    <div class="tree">
      <a routerLink="/catalogue/?">Computer Components</a>
      &nbsp; &#8641; &nbsp;
      <a routerLink="/catalogue/?">Processors</a>
    </div>
  </div>
  <div class="price-container">
    <h4>$ XXXX</h4>
    <small>5 left in stock</small>
  </div>
  <form class="cart-options">
    <label for="qty">Qty</label>
    <input id="qty" type="number" min="1" value="1">
    <input type="submit" value="Add To Cart">
  </form>
