:host {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: var(--blackboard);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  font-size: 2.7em;
}

h4 {
  font-size: 2.2em;
}

.product-name {
  color: var(--warm-yellow);
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.product-name > h2 {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tree {
  margin-top: 7%;
}

.tree > a:hover {
  text-decoration: underline;
}

.product-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stock {
  text-align: center;
  background: var(--rusty-red);
  padding: 5% 10%;
}

.share-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.share-icon {
  height: 1vw;
  width: 1vw;
  margin: 0 2%;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.share-icon > img {
  max-width: 100%;
  max-height: 100%;
}

.cart-options {
  min-width: 60%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.cart-options > label {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qty {
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
  transform: translateY(0px);
  background: none;
  padding: 0 10%;
  font-size: medium;
}

input[type="number"] {
  width: 88%;
  height: 92%;
  text-align: right;
  margin: 0;
  padding: 4% 6%;
  font-size: medium;
}

input[type="submit"] {
  width: 70%;
}


