<div class="product-name">
  <h2>Product Name That is extra super duper extremely long</h2>
  <div class="tree">
    <a routerLink="">Computer Components</a>
    &nbsp; &#8212; &nbsp;
    <a routerLink="">Processors</a>
  </div>
</div>
<div class="product-price">
  <h4>AED XXXX</h4>
  <small class="stock">5 left in stock</small>
</div>
<div class="share-icons-container">
  <div class="share-icon">
    <img src="../../../../assets/images/icons/social_icons/reddit_icon.png">
  </div>
  <div class="share-icon">
    <img src="../../../../assets/images/icons/social_icons/twitter_icon.png">
  </div>
  <div class="share-icon">
    <img src="../../../../assets/images/icons/social_icons/facebook_icon.png">
  </div>
</div>
<form class="cart-options">
  <label>
    <span class="qty">Quantity</span>
    <input type="number" min="1" value="1">
  </label>
  <input type="submit" value="Add To Cart">
</form>
