<app-partner-sidebar></app-partner-sidebar>

<div class="summary">
  <div class="bg"></div>
  <div class="summary-wrapper">
    <div class="greeting">
      Good Morning Taavi!
    </div>

    <section class="summary-section">
      <div class="section-header">
        <span class="section-heading">ORDERS</span>
        <small class="performance">2.5% &#x21be;</small>
      </div>
      <div class="order-content">
        <div class="order-card">
          <div class="value">20</div>
          <div class="key">Pending</div>
        </div>
        <div class="order-card">
          <div class="value">10</div>
          <div class="key">Complete</div>
        </div>
      </div>
    </section>

    <section class="summary-section">
      <div class="large-value">99.8%</div>
      <div class="section-reverse-header">SELLER RATING</div>
    </section>
    <section class="summary-section account-health">
      <img src="assets/images/icons/check-icon.png">
      <div class="value">Good</div>
      <div class="section-reverse-header">SELLER RATING</div>
    </section>
    <section class="summary-section">
      <div class="section-header">ORDER HISTORY</div>
      <div class="history-content">
        <div>
          <span class="key">Past Day</span>
          <span class="value">10</span>
        </div>
        <div>
          <span class="key">Past Week</span>
          <span class="value">70</span>
        </div>
        <div>
          <span class="key">Past Month</span>
          <span class="value">300</span>
        </div>
      </div>
      <a routerLink="" class="view-more">
        <small>View Detailed Analytics</small>
      </a>
    </section>

    <section class="summary-section">
      <div class="section-header">SALES HISTORY</div>
      <div class="history-content">
        <div>
          <span class="key">Past Day</span>
          <span class="value">AED 1,000</span>
        </div>
        <div>
          <span class="key">Past Week</span>
          <span class="value">AED 7,000</span>
        </div>
        <div>
          <span class="key">Past Month</span>
          <span class="value">AED 30,000</span>
        </div>
      </div>
      <a routerLink="" class="view-more">
        <small>View Detailed Analytics</small>
      </a>
    </section>
  </div>
</div>
