<app-sidebar-tab [cardName]="'Browse Catalogue'">
  <div class="products_nav_header">
    <div id="back_button">&#8636;</div>
    <div id="tree_container"></div>
  </div>
  <div class="category_cards_container">
    <div class="category_card" data-id="">
      <div class="category_icon">
        <img src="/assets/images/placeholders/Processors.jpg">
      </div>
      <div class="category_name"><h3></h3></div>
      <a routerLink="/somelink/?id=" class="goto_page">&#x21C1;</a>
    </div>
  </div>
</app-sidebar-tab>
