:host {
  display: flex;
  margin: 0;
  width: 40%;
}


.searchbar {
  display: flex;
  margin: 0;
  width: 100%;
  flex-direction: row;
}

.searchbar input[type="text"],
.searchbar input[type="submit"] {
  margin: 0;
  padding: 1% 1.5%;
  border: 1px solid var(--sand-gold);
  float: left;
}

.searchbar input[type="text"] {
  border-right: none;
  width: calc(80% - 1px);
}

.searchbar input[type="submit"] {
  width: 17%;
  cursor: pointer;
  background: var(--sand-gold);
}
