<section class="homepage_top">
  <img src="/assets/images/logo_large.svg" class="logo" alt="Logo">
  <h1 class="message">
    WELCOME TO IIBRATAN
  </h1>
  <app-search-bar></app-search-bar>
</section>

<section class="medium_section">
  <h2>RECOMMENDED PRODUCTS</h2>
  <div>
    <app-medium-product-card></app-medium-product-card>
    <app-medium-product-card></app-medium-product-card>
    <app-medium-product-card></app-medium-product-card>
    <app-medium-product-card></app-medium-product-card>
  </div>
  <a href="" class="view_more"><h4>View More</h4></a>
</section>

<section class="wide_section">
  <h2>Discover iibratan</h2>
  <div class="wide_cards_container">
    <a routerLink="/catalogue" class="tall_card">
      <div class="bg"></div>
      <div class="card_name"><h3>Browse Parts</h3></div>
    </a>
    <a routerLink="/build" class="tall_card">
      <div class="bg"></div>
      <div class="card_name"><h3>Build A computer</h3></div>
    </a>
    <a routerLink="/services" class="tall_card">
      <div class="bg"></div>
      <div class="card_name"><h3>Repair and Data Recovery</h3></div>
    </a>
  </div>
</section>

<section class="medium_section">
  <h2>Explore our Catalogue</h2>
  <div>
    <app-small-category-card></app-small-category-card>
    <app-small-category-card></app-small-category-card>
    <app-small-category-card></app-small-category-card>
    <app-small-category-card></app-small-category-card>
    <app-small-category-card></app-small-category-card>
    <app-small-category-card></app-small-category-card>
    <app-small-category-card></app-small-category-card>
    <app-small-category-card></app-small-category-card>
  </div>
  <a href="" class="view_more"><h4>View More</h4></a>
</section>
