<div class="main_container">
  <h1  routerLink="/account">
    Account
  </h1>

  <div class="displayOption2">
    <h3 class="do2Title">Addresses</h3>
    <div class="do2AddressList"> <!-- Add loop for displaying multiple addresses -->
      <div>
        <div class="editButton" >
          Edit
        </div>
        <h4>Address 1</h4>
        <p>Address Line 1 <br>
          Address Line 2 <br>
          City, Country <br><br>
          Contact Number - Contact Name<br>
        </p>
      </div>

      <div>
        <div class="editButton" >
          Edit
        </div>
        <h4>Address 2</h4>
        <p>Address Line 1 <br>
          Address Line 2 <br>
          City, Country <br><br>
          Contact Number - Contact Name<br>
        </p>
      </div>
    </div>
  </div>


</div>
