.partner-sidebar {
  display: inline-flex;
  flex-direction: column;
  background: var(--gunmetal);
  height: 100vh;
  float: left;
}

.profile-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2vw 1vw;
  background: var(--sand-gold);
}

.profile-image {
  height: 5vw;
  width: 5vw;
  border-radius: 100%;
  background: no-repeat center;
  background-size: contain;
  margin-bottom: 2vw;
}

.profile-name {
  font-weight: bolder;
}

.dashboard-links-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: .25s ease;
  padding: 2vw 0;
}

.dashboard-link:hover {
  background: rgba(255, 255, 255, 0.25);
}

.link-icon {
  width: 1.25vw;
  margin-bottom: 1vw;
}

.link-icon > img {
  max-height: 100%;
  max-width: 100%;
}
