
<div class="partner-sidebar">
  <div class="profile-summary">
    <div class="profile-image" [ngStyle]="{'background-image': 'url(/assets/images/placeholders/profile_placeholder.png)'}"></div>
    <div class="profile-detail">
      <div class="profile-name">Taavi Åge</div>
      <small class="profile-class">iibratan Partner</small>
    </div>
  </div>
  <div class="dashboard-links-container">
    <a routerLink="" class="dashboard-link">
      <span class="link-icon">
        <img src="/assets/images/icons/dashboard-icon.png">
      </span>
      <span class="link-name">Dashboard</span>
    </a>
    <a routerLink="" class="dashboard-link">
      <span class="link-icon">
        <img src="/assets/images/icons/clipboard-icon.png">
      </span>
      <span class="link-name">Orders</span>
    </a>
    <a routerLink="" class="dashboard-link">
      <span class="link-icon">
        <img src="/assets/images/icons/bullet-points-icon.png">
      </span>
      <span class="link-name">Inventory</span>
    </a>
    <a routerLink="" class="dashboard-link">
      <span class="link-icon">
        <img src="/assets/images/icons/line-chart-icon.png">
      </span>
      <span class="link-name">Analytics</span>
    </a>
    <a routerLink="" class="dashboard-link bottom-align">
      <span class="link-icon">
        <img src="/assets/images/icons/settings-icon.png">
      </span>
      <span class="link-name">Account Settings</span>
    </a>
    <a routerLink="" class="dashboard-link">
      <span class="link-icon">
        <img src="/assets/images/icons/power-icon.png">
      </span>
      <span class="link-name">Sign Out</span>
    </a>
  </div>
</div>
