.home_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.card:nth-child(2) {
  margin: 2% 0;
}

.nav_description {
  text-align: center;
  background: var(--gunmetal);
  padding: 1%;
  width: 40%;
  z-index: 1;
}

.card .bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card:nth-child(1) .bg {
  background: url(/assets/images/sidebar/gtx1080.jpg) center center;
  background-size: cover;
}

.card:nth-child(2) .bg {
  background: url(/assets/images/sidebar/credit_card.jpg) center center;
  background-size: cover;
}

.card:nth-child(3) .bg {
  background: url(/assets/images/sidebar/shopping_cart.jpg) center center;
  background-size: cover;
}
