:root {
  --form-default-state: #b9b9b9;
  --form-valid-state: #29c655;
  --form-invalid-state: #dd4646;
}

form {
  margin: auto;
  width: calc(100% - 4px);
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  padding: 2%;
  width: 96%;
  margin: 0 0 0 0;
  border: 1px solid var(--form-default-state);
  transition: .25s ease;
}

label {
  position: relative;
  margin: 0 0 5% 0;
  display: flex;
  flex-direction: column;
}

label span {
  position: absolute;
  left: 1px;
  top: -.75em;
  font-size: .75em;
  background: var(--navy);
  padding: 0 2%;
  transition: .25s ease-in-out;
  cursor: text;
}

label > .validation_message {
  padding: 2% 0;
  width: 100%;
  border: 1px solid var(--rusty-red);
  background: var(--rusty-red);
  transition: 0.25s ease;
}

/*input.ng-untouched + .validation_message {
  margin-top: -8%;
  opacity: 0;
}

input.ng-touched.ng-invalid + .validation_message {
  margin-top: 0%;
  opacity: 1;
}

input.ng-valid + .validation_message {
  margin-top: -8%;
  opacity: 0;
}*/

label.empty input {
  border-color: #d9d9d9;
}

label.empty span {
  top: 20%;
  transform: translateY(-20%);
  font-size: inherit;
  background: none;
  color: #cccccc;
}

input.ng-untouched {
  border-color: var(--form-default-state);
}

input.ng-touched.ng-invalid {
  border-color: var(--rusty-red);
}

input.ng-valid {
  border-color: var(--form-valid-state);
}

input[type="submit"] {
  padding: 3% 2%;
  /*border: 1px solid var(--rusty-red);*/
  background: var(--sand-gold);
  cursor: pointer;
}

input[type="submit"]:disabled {
  cursor: default;
}
