/* You can add global styles to this file, and also import other style files */
@import url('forms.css');

:root {
  --navy: #22252C;
  --gunmetal: #101010;
  --rusty-red: #984B43;
  --sand-gold: #AB987A;
  --blackboard: #191B1E;
  --frost-bg: rgba(28, 28, 28, 0.75);
}

@font-face {
  font-family: main;
  src: url(/assets/fonts/Lato-Light.ttf);
}

@font-face {
  font-family: heading;
  src: url(/assets/fonts/OstrichSans-Medium.otf);
}

body {
  margin: auto;
  background-color: var(--navy);
  font-family: main, sans-serif;
  font-size: 1.35vh;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: heading, sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 6.5vh;
}

h2 {
  font-size: 4vh;
}

h3 {
  color: var(--sand-gold);
  font-size: 2.5vh;

}

h4 {
  font-size: 2.3vh;
  color: var(--rusty-red);
}

h3, h4 {
  margin: .5em 0;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 2vh;
  }
}
